ul.features{ list-style: none; }

ul.features li:before {
    content: '✓';
    margin-left: -15px;
    margin-right: 10px;
	color: #1f5658;
}

.small-text{
	color: #d2d20e;
    padding-left: 10px;
}


.main-content > table:nth-child(2){ border-bottom: 1px solid #d0d0d0; }

.main-content > table:nth-child(2) td{ border: none !important; }


.cols{
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.cols>*{
	padding:10px;
}

.small-text{
	font-size: .8em;
    font-weight: bold;
}

.text-justified{
	text-align: justify;
}

.features{
	background: #159ea3;
    padding: 45px;
    margin: 20px;
    color: white;
    font-size: .95em;
    box-shadow: 0 0 2px 0px #9a9a9a;
    padding-top: 30px;
    padding-bottom: 40px;
}

.features h3{
	color: white;
    border-bottom: 1px solid #d0d0d0;
}

.types-container{ padding: 20px; }

.types-container table tr:nth-child(odd){
    background: #159957;
    color: white;
}

.types-container table  { border-collapse: collapse; }

.types-container table td {  border: none; }