.cols{
	display: grid;
    grid-template-columns: 1fr 1fr;
}

.cols>*{
	padding:10px;
}

.small-text{
	font-size: .8em;
    font-weight: bold;
}

.text-justified{
	text-align: justify;
}

.features{
    background: #529e5d;
    padding: 45px;
    margin: 20px;
    color: white;
    font-size: .95em;
}

.types-container table tr:nth-child(odd){
    background: #159957;
    color: white;
}

.types-container table  {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

.types-container table td {
    border: none;
}